*.pyc
raft_opt_modular.egg-info/top_level.txt
raft_opt_modular.egg-info/SOURCES.txt
raft_opt_modular.egg-info/PKG-INFO
raft_opt_modular.egg-info/not-zip-safe
raft_opt_modular.egg-info/dependency_links.txt
*.sql
**/output.txt
examples/MHK/calcuvate.py
examples/MHK/example.py
examples/MHK/mhk.yaml
examples/MHK/output_stability.txt
examples/MHK/reports/example/SLSQP.out
examples/MHK/user_input.yaml
*.txt
*.tikz
*.tex
*.aux
*.log
*.out
**/reports/